.table-container {
  width: 90%;
  margin: 40px auto;
}

.table-title {
  text-align: center;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #4f46e5;
  color: white;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

.action-btn {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.edit-btn {
  background: #16a34a;
}

.delete-btn {
  background: #dc2626;
  margin-left: 6px;
}

.edit-btn:hover {
  background: #15803d;
}

.delete-btn:hover {
  background: #b91c1c;
}
